div.pierwsza{
    text-align: center; background-color: #c0c0c0;

}

div.dziewiata{
    text-align: center; background-color: #c0c0c0;
}

div.druga{
    text-align: center;  background-color: #ffff99;
}
div.osma{
    text-align: center;  background-color: #ffff99;
}
div.trzecia{
    text-align: center;  background-color: #800000;
}
div.siodma{
    text-align: center; background-color: #800000;
}
div.czwarta{
    text-align: center; background-color: #ff99ff;
}
div.szosta{
    text-align: center; background-color: #ff99ff;
}